@import "fonts.css";
@import "normalize.css";
@import "root.css";

$phone: "screen and (max-width: 580px)";
$tablet: "screen and (max-width: 1170px)";
@mixin dmSansWhite {
  font-family: "DM Sans";
  font-style: normal;
  color: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #0f162d;
}

div#home-page {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #0f162d;
  display: flex;
  width: 1136px;
  height: 511px;

  @media #{$tablet} {
    width: 496px;
    height: 700px;
    display: block;
  }
  @media #{$phone} {
    margin: 48px auto 60px auto;
    max-width: 343px;
    height: 1076px;
    position: relative;
    top: auto;
    left: auto;
    transform: none;
  }
  @media screen and (max-width: 380px) {
    margin: 10px auto;
  }
}

.homepage-description-component {
  width: 50%;
  height: 100%;
  $descriptionWidth: 467px;

  &__main-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;

    position: absolute;
    width: $descriptionWidth;
    height: 232px;

    &-title {
      width: $descriptionWidth;
      height: 112px;
      @include dmSansWhite;
      font-weight: 500;
      font-size: 48px;
      line-height: 56px;
      letter-spacing: -0.002em;
    }

    &-description {
      width: $descriptionWidth;
      height: 96px;
      @include dmSansWhite;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
    }
  }

  @media #{$tablet} {
    height: 248px;
    width: 100%;
    display: block;

    &__main-block {
      display: block;
      width: 496px;
      height: 248px;
      &-title {
        width: 490px;
        margin-bottom: 16px;
      }
      &-description {
        width: 496px;
      }
    }
  }
  @media #{$phone} {
    height: 216px;
    $phoneDescriptionWidth: 343px;

    &__main-block {
      position: relative;
      width: $phoneDescriptionWidth;
      height: 216px;

      &-title {
        font-size: 32px;
        line-height: 40px;
        width: $phoneDescriptionWidth;
        height: 80px;
      }
      &-description {
        width: $phoneDescriptionWidth;
        height: 120px;
      }
    }
  }
}

.homepage-block-component {
  position: absolute;
  top: 0;
  right: 0px;
  width: 560px;
  height: 511px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  grid-row-gap: 31px;
  grid-column-gap: 24px;

  &__box {
    width: 268px;
    height: 240px;
    background: #272d42;
    border-radius: 24px;
    position: relative;
    text-align: center;
    &-image {
      margin: 24px auto 16px auto;
      width: 64px;
      height: 64px;
      border-radius: 16px;
      position: relative;
      &.sphere {
        background: #373155;
      }
      &.rect {
        background: #2c3455;
      }
      &.vr {
        background: #274255;
      }
      &.ai {
        background: #3d413f;
      }
      &-vector {
        position: absolute;
        width: 32px;
        height: 32px;
        left: 16px;
        top: 16px;
        img {
          width: 32px;
        }
      }
    }

    &-title {
      margin-bottom: 16px;
      @include dmSansWhite;
      font-weight: 500;
      font-size: 20px;
      line-height: 24px;
    }

    & &-content {
      margin-bottom: 24px;
      width: 236px;
      margin: 0 auto;
      @include dmSansWhite;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      text-align: center;
      opacity: 0.5;
    }
    &:first-of-type {
      p:nth-of-type(2) {
        text-indent: 4px;
      }
    }
    &:nth-of-type(3) {
      p:nth-of-type(2) {
        text-indent: 4px;
      }
    }
  }
  @media #{$tablet} {
    gap: 16px;
    position: relative;
    height: 452px;
    width: 496px;
    &__box {
      padding-right: 4px;
      width: 240px;
      max-height: 218px;
      border-radius: 20px;
      &-image {
        margin: 20px auto 16px auto;
        width: 56px;
        height: 56px;
        border-radius: 14px;
        &-vector {
          width: 28px;
          height: 28px;
          left: 14px;
          top: 14px;
          img {
            width: 28px;
          }
        }
      }
      &-title {
        text-indent: 0px;
      }
      & &-content {
        width: 209px;
        font-size: 14px;
        line-height: 22px;
      }
    }
  }
  @media #{$phone} {
    margin-top: 28px;
    width: 343px;
    height: 832px;

    &__box {
      position: relative;
      padding-right: 0;

      height: 196px;
      width: 343px;
      &-image {
        width: 56px;
        height: 56px;
        border-radius: 14px;
      }
      & &-content {
        position: relative;
        width: 303px;
        font-size: 14px;
        line-height: 22px;
      }
      &:first-of-type {
        p:nth-of-type(2) {
          text-indent: 4px;
        }
      }
      &:nth-of-type(3) {
        p:nth-of-type(2) {
          left: -2px;
        }
      }
    }
  }
}
